<div>
    <section id="home">
        <div id="main-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
               <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="/images/slider/sp-bg-1.jpg" alt="slider">
                    <div class="carousel-caption">
                        <h2>Chorale Sainte Philomène  </h2>
                        <h4>Paroisse Saint Ambroise Ma Vigne Cocody Angré</h4>
                        <a href="#contact"> <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <img class="img-responsive" src="/images/slider/sp-bg-2.jpg" alt="slider">
                    <div class="carousel-caption">
                        <h2>Notre prochain évènement </h2>
                        <h4>Découvrez notre prochain album </h4>
                        <a href="#contact">Plus d'infos<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
               <div class="item">
                    <img class="img-responsive" src="/images/slider/sp-bg-3.jpg" alt="slider">
                    <div class="carousel-caption">
                        <h2>Chorale Sainte Philomène </h2>
                        <h4>Paroisse Saint Ambroise Ma Vigne Cocody Angré</h4>
                        <a href="#contact" >Plus d'infos <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#home-->

    <section id="explore">
        <div class="container">
            <div class="row">
                <div class="watch">
                    <img class="img-responsive" src="/images/watch.png" alt="">
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-5">
                    <h2>notre prochain event</h2>
                </div>
                <div class="col-sm-7 col-md-6">
                    <ul id="countdown">
                        <li>
                            <span class="days time-font">00</span>
                            <p>jours </p>
                        </li>
                        <li>
                            <span class="hours time-font">00</span>
                            <p class="">heures </p>
                        </li>
                        <li>
                            <span class="minutes time-font">00</span>
                            <p class="">minutes</p>
                        </li>
                        <li>
                            <span class="seconds time-font">00</span>
                            <p class="">secondes</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--<div class="cart">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span>réservez votre CD</span></a>
            </div>-->
        </div>
    </section><!--/#explore-->

    <section id="event">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <div id="event-carousel" class="carousel slide" data-interval="false">
                        <h2 class="heading" >Membres de La Chorale</h2>
                        <a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/h.jpg" alt="event-image">
                                            <h5>KOUAME Marius </h5>
                                            <h6><strong>Président, Tenor </strong></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/h.jpg" alt="event-image">
                                            <h5>GOHOU Richard</h5>
                                            <h6><strong>Vice-Président, Tenor </strong></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m3.jpg" alt="event-image">
                                            <h5>NAMLAN Gregoire</h5>
                                            <h6> <strong>Maestro</strong></h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/h.jpg" alt="event-image">
                                            <h5>Nicodème</h5>
                                            <h6><strong> Maestro</strong></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m7.jpg" alt="event-image">
                                            <h5>Bénédicte </h5>
                                            <h6>Soprane</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m8.jpg" alt="event-image">
                                            <h5>KOUADIO Donaldine</h5>
                                            <h6>Soprane</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m1.jpg" alt="event-image">
                                            <h5>LOUKOU Raïssa </h5>
                                            <h6>Soprane</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m6.jpg" alt="event-image">
                                            <h5>Blanche  </h5>
                                            <h6>Soprane</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/f.jpg" alt="event-image">
                                            <h5>Noelle</h5>
                                            <h6>Soprane</h6>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m13.jpg" alt="event-image">
                                            <h5>Sophie</h5>
                                            <h6>Soprane</h6>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m12.jpg" alt="event-image">
                                            <h5>Nina </h5>
                                            <h6>Soprane</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m11.jpg" alt="event-image">
                                            <h5>Carole</h5>
                                            <h6>Soprane</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/f.jpg" alt="event-image">
                                            <h5>TAWA Sandrine</h5>
                                            <h6>Alto</h6>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/f.jpg" alt="event-image">
                                            <h5>La MAMA</h5>
                                            <h6>Alto</h6>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/f.jpg" alt="event-image">
                                            <h5>Noelle </h5>
                                            <h6>Alto</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m5.jpg" alt="event-image">
                                            <h5>Vanessa</h5>
                                            <h6>Alto</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m10.jpg" alt="event-image">
                                            <h5>Firmin</h5>
                                            <h6>Tenor</h6>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/h.jpg" alt="event-image">
                                            <h5>Christian</h5>
                                            <h6>Tenor</h6>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/m2.jpg" alt="event-image">
                                            <h5>GAUHOU Edmond </h5>
                                            <h6>Basse</h6>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="single-event">
                                            <img class="img-responsive" src="/images/event/h.jpg" alt="event-image">
                                            <h5>BAYARD Roger-Marcel</h5>
                                            <h6>Basse</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guitar">
                    <img class="img-responsive" src="/images/guitar.png" alt="guitar">
                </div>
            </div>
        </div>
    </section><!--/#event-->

    <section id="about">
        <div class="guitar2">
            <img class="img-responsive" src="/images/guitar2.jpg" alt="guitar">
        </div>
        <div class="about-content">
            <h2>A propos de La Chorale Sainte Philomène </h2>
            <p>Nous tenons nos répétitions tous les samedi de 15h à 19 h à la paroisse Saint Ambroise Ma Vigne Cocody - Angré
                <br/> Vous êtes tous les bienvenus !!</p>
            <a href="#" class="btn btn-primary">Nous vous attendons tous <i class="fa fa-angle-right"></i></a>

        </div>
    </section><!--/#about-->

    <section id="twitter">
        <div id="twitter-feed" class="carousel slide" data-interval="false">
           <!-- <div class="twit">
                <img class="img-responsive" src="/images/twit.png" alt="twit">
            </div>-->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="text-center carousel-inner center-block">
                        <div class="item active">
                            <img src="/images/twitter/face-1.jpg" alt="">
                            <p>Notre chorale lors d'une animation </p>
                            <!--<a href="#">http://t.co/yY7s1IfrAb 2 days ago</a>-->
                        </div>
                        <div class="item">
                            <img src="/images/twitter/face-2.jpg" alt="">
                            <p>Notre chorale lors d'une animation </p>
                            <!--<a href="#">http://t.co/yY7s1IfrAb 2 days ago</a>-->
                        </div>
                        <div class="item">
                            <img src="/images/twitter/face-3.jpg" alt="">
                            <p>Notre chorale lors d'une animation </p>
                            <!--<a href="#">http://t.co/yY7s1IfrAb 2 days ago</a>-->
                        </div>
                    </div>
                    <a class="twitter-control-left" href="#twitter-feed" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="twitter-control-right" href="#twitter-feed" data-slide="next"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </section><!--/#twitter-feed-->

   <!-- <section id="sponsor">
        <div id="sponsor-carousel" class="carousel slide" data-interval="false">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <h2>Sponsors</h2>
                        <a class="sponsor-control-left" href="#sponsor-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="sponsor-control-right" href="#sponsor-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor1.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor2.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor3.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor4.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor5.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor6.png" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor6.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor5.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor4.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor3.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor2.png" alt=""></a></li>
                                    <li><a href="#"><img class="img-responsive" src="/images/sponsor/sponsor1.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="light">
                <img class="img-responsive" src="/images/light.png" alt="">
            </div>
        </div>
    </section>--><!--/#sponsor-->

    <section id="contact">
        <div id="map">
            <div id="gmap-wrap">
                <div id="gmap">
                </div>
            </div>
        </div><!--/#map-->
        <div class="contact-section">
            <div class="ear-piece">
                <img class="img-responsive" src="/images/ear-piece.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-4">
                        <div class="contact-text">
                            <h3>Contact</h3>
                            <address>
                                E-mail: csp-mavigne@gmail.com<br>
                                Phone:  (+225) 00000<br>

                            </address>
                        </div>
                        <div class="contact-address">
                            <h3>Réseaux sociaux</h3>
                            <address>
                                Facebook : chorale Sainte Philomene<br>
                            </address>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div id="contact-section">
                            <h3>Envoyer un message</h3>
                            <div class="status alert alert-success" style="display: none"></div>
                            <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" required="required" placeholder="Nom">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" required="required" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Entrez votre message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right">Envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>